#title{
    text-align: center;
    font-size: xx-large;
    border: solid 0.3rem black;
    background-color: #ffd700;
}

.photo div{
    border: solid 5px black;
    float: left;
    height: 70vh;
    width: calc(100% /2 - 14px);
    margin: 2px;
}

#photo1{
    background-image: url(Link.jpg);
    background-size: 250%;
    background-position-x: -900px;
    background-position-y: -400px;
}

#photo2{
    background-image: url(JOJO.jpg);
    background-size: 200%;
    background-position-x: -800px;
    background-position-y: -200px;
}