header{
    width: 70%;
    color: saddlebrown;
    background-color: gold;
    text-align: center;
    border: 5px solid rgb(224, 69, 95);
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 0.2rem;
}
.container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(178, 230, 252);
    border-radius: 5px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.cat{
    border: dashed rgb(79, 130, 226);
    margin: 0;
}
/* .cat{
    
} */

.photos {
    max-width: 70%;
    height: 90vh;
    margin: auto;
    display: block;
    border: solid 2px gold;
  }

  .description{
      font-family: courier;
      width: 70%;
      font-size: small;
      text-align: center;
      border: burlywood dashed;
      margin: auto;
      margin-bottom: 0.2rem;
      background-color: rgb(178, 230, 252);
      font-weight: bold;
  }

#logo{
    width: 20px;
    height: 20px;
    opacity: 50%;
}

#main-page{
    margin-top: 20%;
}

body{
    margin: 4rem;
    background-image: url("background.png");
    margin:  1rem;
}